.post-footer {
    background: #F6F6F6;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.post-footer-logo {
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 30%;
    width: 30%;
    margin-left: 90%;
}
#navlist{
    margin-left: 3%;
  padding: 0;
  overflow: hidden;
}
#navlist1{
    margin: 0;
  padding: 0;
  overflow: hidden;
    margin-left: 40%;
}

li {
  float: left;
}
#li a{
    color: black;
    text-align: center;
    text-decoration: none;
   padding:6px;
    display: flex;
}
#logo {
    
}
